In [11]:
class Student:
    def __init__(self,name,roll,address):
        self.name = name
        self.roll = roll
        self.address = address
    def display(self):
        print("i am %s \nmy roll numbers is %d \ni am from %s"%(self.name,self.roll,self.address))
data = Student("venkaetsh",457,'vijayawada')
data.display()

i am venkaetsh
my roll numbers is 457
i am from vijayawada

In [13]:
a=Student('iUSIudsijosi',324234,'dadasdsad')
a.display()

i am iUSIudsijosi
my roll numbers is 324234
i am from dadasdsad

In [16]:
class Example():
    count=0
    def __init__(self):
        Example.count = Example.count+1

a = Example()
a = Example()
a = Example()
print("Total Object in a class is :",Example.count)

Total Object in a class is : 3

In [24]:
# non parametarized constructor
class Nonpara():
    def __init__(self):
        print("none balues")
    def display(self,assam,dis):
        print("name is",assam,'dispoore',dis)
    def show(self,name,id):
        print("hello",name,"my id is",id)
a=Nonpara()
a.display("jhssakhjskjjahskaksakshkahjskaskhaks",'jhadjdjhakdhkashsdkasdamsndbjk218673867381923781973912893jgjdgas')
a.show("venkatesh",457)

none balues
name is jhssakhjskjjahskaksakshkahjskaskhaks dispoore jhadjdjhakdhkashsdkasdamsndbjk218673867381923781973912893jgjdgas
hello venkatesh my id is 457

In [30]:
class Param():
    def __init__(self,n,i,a):
        self.n=n
        self.i=i
        self.a=a
    def Details(self):
        print("i am ",self.n,"roll no is ",self.i,'I am, from ',self.a)
b = Param('venkatesh',11457,'kadapa')
b.Details()

i am  venkatesh roll no is  11457 I am, from  kadapa

In [37]:
class Parent():
    def speak(self):
        print("parents class")
class Child(Parent):
    def bark(self):
        print("Child Class")
class SmallKid(Child):
    def small(self):
        print("small")
class Small(SmallKid):
    def smallk(self):
        print("small kid")
a = Small()
a.speak()
a.bark()
a.small()
a.smallk()

parents class
Child Class
small
small kid

In [43]:
class Class1():
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b
class Class2():
    def mul(self,a,b):
        return a*b
class Class4(Class2):
    def sol(self,a,b):
        return a*b*a
class Class3(Class1,Class4):
    def pown(self,a,b):
        return a**b
res = Class3()
print(res.add(10,20))
print(res.sub(10,2))
print(res.mul(4,8))
print(res.pown(3,2))
print(res.sol(3,2))

30
8
32
9
18

In [44]:
res.sol(4,4)

64

In [50]:
class Employee:  
    __count = 0;  
    def __init__(self):  
        Employee.__count = Employee.__count+1  
    def display(self):  
        print("The number of employees",Employee.__count)  
emp = Employee()  
emp2 = Employee()  
try:  
    print(emp.__count)  
finally:  
    emp.display()

The number of employees 2

AttributeError: 'Employee' object has no attribute '__count'

In [58]:
list1=[1,2,3,4,5,6,7]
list2=[]
for i in range(len(list1)-1,-1,-1):
    list2[i]=list1[i]
print(list2)

IndexError: list assignment index out of range

In [56]:
[list1[i] for i in range(len(list1)-1,-1,-1)]

[7, 6, 5, 4, 3, 2, 1]

In [57]:
list1=[1,2,3,4,5,6]
dict1={}
for i in range(len(list1)):
    dict1[list1[i]]=list1[i]
dict1

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [61]:
def inc(a):
    return a+1
def dec(a):
    return a-1
def deco(func,x):
    res=func(x)
    return res

In [63]:
deco(dec,10)

9

In [75]:
def result():
    def is_result():
        print("i am venkatsh")
    return is_result
a=result()
a()

i am venkatsh

In [96]:
def sol(func):
    def output():
        print("welcome to apssdc")
        func()
    return output
def sol1():
    print("hiiiiiiiiii venkatesh")

In [97]:
@sol
def ordinary():
    print("venkatesh")
ordinary()

welcome to apssdc
venkatesh

In [99]:
def inner_func(func):
    def divid(a,b):
        print("yes i am divided")
        if b==0:
            print("oops its not printed")
            return
        return func(a,b)
    return divid
@inner_func
def output(a,b):
    return a/b

In [101]:
output(2,0)

yes i am divided
oops its not printed

In [106]:
import csv
with open("example.csv") as csv_file:
    data = csv.reader(csv_file)
    line_count = 0
    for i in data:
        if line_count == 0:
            print(f'columns names are :{", ".join(i)}')
            line_count+=1

columns names are :first_name, last_name, roll, address

In [115]:
with open("example.csv") as csv_file:
    data_read = csv.DictReader(csv_file)
    l_count = 0
    for row in data_read:
        if (l_count == 0):
            print(f'data is :{",".join(row)}')
            l_count+=1
        print(f'i am {row["first_name"]} {row["last_name"]} my roll number is{row["roll"]} and iam from {row["address"]}')
        l_count+=1
    print("total lines are",l_count)

data is :first_name,last_name,roll,address
i am venkatesh yekkanti my roll number is1 and iam from guntur
i am suresh kakarla my roll number is2 and iam from adilabad
i am naresh gunnam my roll number is3 and iam from vijayawada
i am abdul sk my roll number is4 and iam from kadapa
total lines are 5

In [116]:
import pandas as pd
a = pd.read_csv("example.csv")
a

  first_name last_name  roll     address
0  venkatesh  yekkanti     1      guntur
1     suresh   kakarla     2    adilabad
2     naresh    gunnam     3  vijayawada
3      abdul        sk     4      kadapa

In [119]:
data = [{"name":"venkatesh","phone":9494,"address":"Guntur"},
       {"name":"ramu","phone":9123,"address":"ongole"},
       {"name":"gopi","phone":1234,"address":"krishna"},
       {"name":"avinash","phone":8765,"address":"east"},
       {"name":"raj","phone":5678,"address":"west"},
       {"name":"satti","phone":3456,"address":"tirupathi"}]
with open("example1.csv",'w') as write_csv:
    field_names = ["name",'phone','address']
    write = csv.DictWriter(write_csv,fieldnames = field_names)
    write.writeheader()
    write.writerows(data)
print("completed")

completed

In [120]:
b = pd.read_csv("example1.csv")
b

        name  phone    address
0  venkatesh   9494     Guntur
1       ramu   9123     ongole
2       gopi   1234    krishna
3    avinash   8765       east
4        raj   5678       west
5      satti   3456  tirupathi

In [135]:
import xlrd
path = "example.xlsx"
work_book = xlrd.open_workbook(path)
res = work_book.sheet_by_index(0)
res.cell_value(0,0)

'name'

In [147]:
a = pd.read_excel("example.xlsx")
a

        name  address  age      contact
0  venkatesh   guntur   26   9494699851
1       ramu   ongole   35  90101013952
2       gopi  krishna   25  97059282369

In [150]:
file = xlrd.open_workbook("example.xlsx")
for s in file.sheets():
    values =[]
    for row in s.nrows():
        col_value = []
        for col in s.ncols():
            value = (s.cell(row,col).value())
            try:
                value = str(int(value))
            except:
                pass
            col_value.append(value)
        values.append(col_value)
    print(values)

TypeError: 'int' object is not callable

In [161]:
import statistics
list1=[1,2,3,4,5,6,7,8,9,1,1,2,2,2,22,34,11]
res = statistics.mode(list1)
res

2

In [1]:
import time
time.time()

1573806980.585575