In [ ]:
import pandas as pd
a=pd.Series(["data", "index", "dtype", "copy"],index=[i for i in range(4)])
a

In [ ]:
class employee:
    name="venkatesh"
    id=123
    def Display(self):
        print(self.name,self.id)
res=employee()
res.Display()

In [ ]:
class Student:
    def __init__(self,name,roll,address):
        self.name = name
        self.roll = roll
        self.address = address
    def display(self):
        print("i am %s \n \
        my roll numbers is %d \n \
        i am from %s"%(name,roll,address))
Student()

In [ ]:
import threading 
  
def print_cube(num): 
    
    """ 
    function to print cube of given num 
    """
    print("Cube: {}".format(num * num * num)) 
def print_square(num): 
    """ 
    function to print square of given num 
    """
    print("Square: {}".format(num * num)) 
if __name__ == "__main__":
    
    # creating thread 
    t1 = threading.Thread(target=print_square, args=(10, )) 
    t2 = threading.Thread(target=print_cube, args=(10, )) 
  
    # starting thread 1 
    t1.start() 
    # starting thread 2 
    t2.start() 
  
    # wait until thread 1 is completely executed 
    t1.join() 
    # wait until thread 2 is completely executed 
    t2.join() 
  
    # both threads completely executed 
    print("Done!")

In [ ]:
a=pd.DataFrame(['data', 'index', 'columns', 'dtype', 'copy'],columns=['name'])

In [ ]:
data=[['a',1],['b',2],['c',3],['d',4]]

a=pd.DataFrame(data,columns=['names','rollnumbers'],dtype=str)

In [ ]:
a

In [ ]:
df=pd.read_csv('olympics.csv',index_col=0,skiprows=1)
#df.index
#df.columns
for column in df.columns:
    if column[0:2] == '01':
        df.rename(columns={column:'Gold'+column[2:]},inplace=True)
    if column[:2] == '02':
        df.rename(columns={column:'Silver'+column[2:]},inplace = True)
    if column[:2] == '03':
        df.rename(columns={column:"Bronze"+column[2:]},inplace = True)
    if column[:1] == '№':
        df.rename(columns={column:'#'+column[1:]},inplace = True)
names=  df.index.str.split('\s\(')
df.index = names.str[0]
df['ID'] = names.str[1].str[:3]
df

In [ ]:
df

### Data Cleaning
* Importing the data set(CSV)

* Observe the data set
    * identify the rows/columns and their relation
    * Identify the Index Column (Primary Key column)
    * check if there are any duplicate column
    * which rows to be skipped
* Assign the Index Column(to avoid creatin of new index columns
* Skip Irrelevant Rows(to avoid display of index rows)
* Drop duplicate/irrelevant columns()

In [ ]:
import pandas as pd
df = pd.read_csv("olympics.csv",index_col=0, skiprows=1)
df.index # returns the index column
df.columns # returns the column names or first row in csv file
df["Total"] # returns the Total column ->total  medals in columns
df["Total.1"] # return the Total.1 column
df.head(5) # return sub data frame with the specified rows
df.index[0]
df.loc["India (IND) [F]"] # returns a single row
df.index[1]# returns the second country name
df['01 !'][4] # returns the gold medals won by the fifth country
df.iloc[4][1] # returns the gold medals won by the fifth country
df.loc["India (IND) [F]"][-1] # returns total medals won by india
df['Combined total']

### Data Retrieval

* Index Column
    - df.index
* Columns Names
    - df.columns
* Second Column
    - df["Total"]
* Any Columns
    - df['column name here']
* First Row
    - df.head() its get number of rows we have retrived mentiioned in function
    - df.index[]
* Any Row
    - df.loc["row index name here"] ex df.loc["Afghanistan (AFG)"]
* Single cell Data
    - df.index[0] first row first column data

In [ ]:
df.loc['Afghanistan (AFG)'][0]

In [ ]:
df["01 !"][3]# 3rd country 01 ! count is
df['01 !'][1]
df.iloc[4]

In [ ]:
df

In [ ]:
df["№ Summer"][9]

In [ ]:
# total the total medals won by the last country

df['Combined total'][-2]

In [ ]:
# return total number of gold medals won by the united states
df.loc['United States (USA) [P] [Q] [R] [Z]']['01 !.2']

In [ ]:
# Diff b/w summer gold medals of united states and china

abs(df.loc["United States (USA) [P] [Q] [R] [Z]"]['01 !']  - df.loc['China (CHN) [CHN]']['01 !'])

In [ ]:

#df['01 !.1'].max()
df = df.drop('Totals')

In [ ]:
# Maximum gold medals count in winter olympics
df['01 !.1'].max()

In [ ]:
# sum of all gold medals in the summer olympics or how many gold medals are there
df['01 !'].sum()

In [225]:
# return a boolean series objects for the maximum no of gold medals
df[df['01 !'] == df['01 !'].max()].index[0]

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [237]:
# return the data of the country that got the max no of medals in summer and name od the country

a=df[df['Total'].max() == df['Total']]
a

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681

In [238]:
a.index[0]

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [241]:
#name the country that got max medals overall
df[df['Combined total'].max()==df['Combined total']].index[0]

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [267]:
a = pd.read_csv('example.csv',index_col=0,skiprows=0)

In [268]:
a

           last_name  roll     address
first_name
venkatesh   yekkanti     1      guntur
suresh       kakarla     2    adilabad
naresh        gunnam     3  vijayawada
abdul             sk     4      kadapa